JJ Project Restaurant/Team10_ProjectClient/xml-resources/web-service-references/Booking_Service/wsdl/localhost_8080/Team10_Project/Booking_Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://myWS/" name="Booking_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://myWS/" schemaLocation="http://localhost:8080/Team10_Project/Booking_Service?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteBooking">
<part name="parameters" element="tns:deleteBooking"/>
</message>
<message name="deleteBookingResponse">
<part name="parameters" element="tns:deleteBookingResponse"/>
</message>
<message name="makeBooking">
<part name="parameters" element="tns:makeBooking"/>
</message>
<message name="makeBookingResponse">
<part name="parameters" element="tns:makeBookingResponse"/>
</message>
<message name="updateBooking">
<part name="parameters" element="tns:updateBooking"/>
</message>
<message name="updateBookingResponse">
<part name="parameters" element="tns:updateBookingResponse"/>
</message>
<message name="getAllBookings">
<part name="parameters" element="tns:getAllBookings"/>
</message>
<message name="getAllBookingsResponse">
<part name="parameters" element="tns:getAllBookingsResponse"/>
</message>
<portType name="Booking_Service">
<operation name="deleteBooking">
<input wsam:Action="http://myWS/Booking_Service/deleteBookingRequest" message="tns:deleteBooking"/>
<output wsam:Action="http://myWS/Booking_Service/deleteBookingResponse" message="tns:deleteBookingResponse"/>
</operation>
<operation name="makeBooking">
<input wsam:Action="http://myWS/Booking_Service/makeBookingRequest" message="tns:makeBooking"/>
<output wsam:Action="http://myWS/Booking_Service/makeBookingResponse" message="tns:makeBookingResponse"/>
</operation>
<operation name="updateBooking">
<input wsam:Action="http://myWS/Booking_Service/updateBookingRequest" message="tns:updateBooking"/>
<output wsam:Action="http://myWS/Booking_Service/updateBookingResponse" message="tns:updateBookingResponse"/>
</operation>
<operation name="getAllBookings">
<input wsam:Action="http://myWS/Booking_Service/getAllBookingsRequest" message="tns:getAllBookings"/>
<output wsam:Action="http://myWS/Booking_Service/getAllBookingsResponse" message="tns:getAllBookingsResponse"/>
</operation>
</portType>
<binding name="Booking_ServicePortBinding" type="tns:Booking_Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Booking_Service">
<port name="Booking_ServicePort" binding="tns:Booking_ServicePortBinding">
<soap:address location="http://localhost:8080/Team10_Project/Booking_Service"/>
</port>
</service>
</definitions>